.portfolio-page {
    position: absolute;
    width: 100%;
    height: auto;
    margin: -5% 0 0 -15%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.portfolio-view {
    /* margin-top: 5%; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-header {
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-shadow: 7px 7px 1px #000000cb;
}

.portfolio-nav {
    position: sticky;
    top: 75px;
    display: flex;
    width: 50%;
    height: 70px;
    margin-top: 60vh;
    margin-bottom: 40vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-color: #464646bb;
    text-shadow: 7px 7px 1px #000000cb;
    border-radius: 0 0 10px 10px;
    z-index: 10;
    box-shadow: 0 15px 30px #000000;
}

.portfolio-nav h3 {
    text-align: center;
    cursor: pointer;
    transition: .25s;
}

.portfolio-nav h3:hover {
    color: #dddddd;
}

.portfolio-nav div {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 7px 7px 1px #000000cb;
}

.main-portfolio {
    background-color: #bbbbbbcc;
    margin-top: 5%;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3f3f3f;
    border-radius: 10px;
    padding-bottom: 5%;
    box-shadow: 0px 0px 10px #000000;
}

.portfolio-view h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    margin-bottom: 4%;
    margin-top: 5%;
    text-shadow: 5px 5px 1px #3535356b;
    letter-spacing: 5px;
}

.about {
    width: 95%;
    height: auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

.bio {
    font-size: 24px;
    margin: 10px
}

.bio p {
    text-indent: 30px;
}

.bio :first-child {
    margin-bottom: 15px;
}

.dank-links {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.dank-links a {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #3f3f3f;
    text-shadow: 2px 2px 10px #6e6e6e6b;
    transition: .25s;
}

.dank-links a:hover {
    color: #8b8b8b;
}

.slideshow {
    width: 95%;
    height: 575px;
    position: relative;
    margin-top: 4%;
    background-color: #474747;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px inset #000000;
    border-radius: 10px;
}

.my-slides {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.my-slides img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.active-slide {
    width: 100%;
    height: 87%;
    display: flex;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    transition: .6s ease;
    border-radius: 0px 25px 25px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 25px 0 0 25px;
}

.prev:hover, .next:hover {
    background-color: #ffffff75;
}

.caption {
    color: #f2f2f2;
    background-color: #000000a1;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8%;
    text-align: center;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #000000;
}

.number-text {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    text-shadow: 1px 1px 3px #000000;
}

.slide-dots {
    width: 100%;
    top: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.skills {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.skill-section {
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 10px;
    width: 27%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section p {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid #3f3f3f;
    width: 95%;
}

.skill-section li {
    font-size: 20px;
    margin-top: 3%;
}

.projects {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.single-project {
    width: 40%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

.single-project h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    margin-bottom: 25px;
    margin-top: 5%;
    color: #3f3f3f;
    text-shadow: 2px 2px 10px #6e6e6e6b;
    transition: .25s;
}

.single-project h3:hover {
    color: #646464;
}

.single-project h3:active {
    color: #a8a8a8;
}

.site-preview {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    border: 2px solid #888888;
}

@media screen and (max-width: 1400px) {
    .main-portfolio {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio-page {
        margin: -5% 0 0 -5%;
    }

    .portfolio-header {
        font-size: 75px;
    }

    .portfolio-nav {
        width: 70%;
    }

    .portfolio-nav div {
        height: 15px;
        width: 15px;
    }

    .main-portfolio {
        width: 95%;
    }

    .slideshow {
        height: 475px;
    }

    .skills {
        justify-content: space-between;
    }

    .skill-section {
        width: 30%;
    }

    .single-project {
        width: 45%;
        height: 460px;
    }

    .site-preview {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 740px) {
    .portfolio-nav {
        width: 80%;
        margin-top: 67vh;
    }
}

@media screen and (max-width: 660px) {
    .portfolio-page {
        margin: -15% 0 0 -2%;
    }

    .portfolio-header {
        font-size: 60px;
    }

    .portfolio-nav {
        height: 50px;
        margin-top: 60vh;
    }

    .main-portfolio h2 {
        font-size: 45px;
    }

    .about p {
        font-size: 18px;
    }

    .slideshow {
        height: 375px;
    }

    .skills {
        width: 100%;
        justify-content: space-evenly;
    }

    .skill-section {
        padding-bottom: 5px;
        height: auto;
    }

    .skill-section p {
        font-size: 20px;
    }

    .skill-section li {
        font-size: 16px;
    }

    .projects {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .single-project {
        width: 70%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 590px) {
    .portfolio-nav {
        width: 95%;
        margin-top: 62vh;
        font-size: 32px;
    }

    .portfolio-nav div {
        width: 10px;
        height: 10px;
    }

    .slide-dots {
        top: 94%;
    }

    .dot {
        margin: 0 3%;
        height: 20px;
        width: 20px;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skill-section {
        width: 80%;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .skill-section p {
        font-size: 26px;
    }

    .skill-section li {
        font-size: 20px;
    }

    .single-project {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .portfolio-page {
        margin: -15% 0 0 0;
    }

    .portfolio-header {
        font-size: 40px;
    }

    .portfolio-nav {
        font-size: 30px;
        margin-top: 60vh;
    }
}
