.home-view {
    width: 100%;
    height: auto;
}

.mapped-posts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timestamp {
    width: 98%;
    /* position: relative; */
    font-size: 10px;
    /* margin-left: 80%; */
    text-align: right;
}

.post-box {
    width: 60%;
    height: auto;
    background-color: #4e91b1ee;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 50px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.author-title {
    width: 100%;
    display: flex;
}

.author-title h2 {
    font-size: 30px;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    word-wrap: break-word;
}

.author-box {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-box img {
    width: 60px;
    height: auto;
    border-radius: 30%;
    box-shadow: 0 0 10px #000000;
    object-fit: scale-down;
    
}

.author-box h1 {
    width: 90px;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

.author-box:hover {
    text-decoration: underline;
}

.content-image {
    width: 90%;
    height: 250px;
    object-fit: scale-down;
}

.post-box p {
    margin: 30px 0;
    width: 90%;
    text-align: left;
    word-wrap: break-word;
}

@media screen and (max-width: 1550px) {
    .post-box {
        height: auto;
    }
    .content-image {
        margin-top: 4%;
    }

    .post-box p {
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 1110px) {
    .post-box {
        width: 80%;
        height: auto;
    }

    .post-box p {
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 1000px) {
    .post-box {
        width: 70%;
    }
}

@media screen and (max-width: 740px) {
    .author-title h2 {
        font-size: 25px;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .content-image {
        margin-top: 3%;
        width: 95%;
        height: auto;
    }

    .post-box p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 660px) {
    .author-box h1 {
        font-size: 12px;
    }

    .author-title h2 {
        font-size: 20px;
    }

    .post-box p {
        margin-top: 2%;
    }
}

@media screen and (max-width: 530px) {
    .author-title {
        /* width: 100%; */
        justify-content: space-between;
    }
    .author-title h2 {
        font-size: 18px;
    }

    .post-box p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .author-title h2 {
        font-size: 16px;
    }
}