.register-box {
    position: absolute;
    width: 25vw;
    height: 50vh;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4e91b1ee;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000000;
}

.register-box h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 3px 3px 3px #000000;
}

.character-auth, .email-auth, .pass-auth {
    width: 80%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    text-shadow: 1px 1px 1px #000000;
}

.register-box p {
    font-size: 20px;
}

.password-check {
    color: red;
    text-shadow: 1px 1px 1px #000000;
}

.register-btns {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.register:disabled  {
    font-size: 20px;
    color: #949494;
    background-color: #186579;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #000000;
    text-shadow: 1px 1px 1px #000000;
}

@media screen and (max-width: 1600px) {
    .register-box {
        width: 35vw;
    }
}

@media screen and (max-width: 1200px) {
    .register-box {
        width: 45vw;
    }
}

@media screen and (max-width: 900px) {
    .register-box {
        width: 55vw;
    }
}

@media screen and (max-width: 700px) {
    .register-box {
        width: 75vw;
        height: 70vh;
    }
}

@media screen and (max-width: 550px) {
    .register-box {
        width: 95vw;
    }
}