.create-post-box {
    z-index: 1;
    width: 40%;
    min-height: 400px;
    height: auto;
    background-color: #4e91b1ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 60px 50%;
    padding: 10px 0;
    transform: translate(-50%);
    border-radius: 10px;
    box-shadow: 0 0 40px #000000;
}

.create-post-box > * {
    padding: 5px 0;
}

.title-box, .long-text-box {
    width: 80%;
}

.image-preview {
    width: 90%;
    height: auto;
    object-fit: scale-down;
}

.drop-box {
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.drop-input {
    width: 25%;
    height: auto;
    text-align: center;
    padding: 20px 100px;
    border: 2px dashed #ffffff;
}

.long-text-box {
    height: 100px;
}

.create-post-btn {
    width: 40%;
    font-size: 20px;
}

@media screen and (max-width: 1650px) {
    .create-post-box {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .create-post-box {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .create-post-box {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .create-post-box {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .create-post-box {
        width: 95%;
    }

    .drop-input {
        width: 50%;
        padding: 10px 50px;
    }
}

@media screen and (max-width: 400px) {
    .create-post-box {
        width: 100%;
    }
}