body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://i.pinimg.com/originals/a0/de/1d/a0de1dd5d13217683f21e4e525193069.jpg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #25b7db;
  border: none;
  border-radius: 3px;
  /* box-shadow: 0px 0px 3px #000000; */
  text-shadow: 1px 1px 1px #000000;
  transition: .25s;
}

button:hover {
  background-color: #1e839c;
}

button:active {
  background-color: #135566;
}

button:disabled {
  font-size: 20px;
  color: #949494;
  background-color: #186579;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000000;
  text-shadow: 1px 1px 1px #000000;
}

.main-view {
  display: flex;
  flex-direction: column;
}

.page-view {
  /* margin: 100px 150px; */
  margin: 5% 15%;

}

a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .page-view {
    margin: 7% 15%;
  }
}

@media screen and (max-width: 1000px) {
  .page-view {
    margin: 10% 5%;
  }
}

@media screen and (max-width: 660px) {
  .page-view {
    margin: 20% 2%;
  }
}

@media screen and (max-width: 400px) {
  .page-view {
    margin: 25% .5%;
  }
}