body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://i.pinimg.com/originals/a0/de/1d/a0de1dd5d13217683f21e4e525193069.jpg');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

button {
  font-size: 20px;
  color: #ffffff;
  background-color: #29aecf;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #000000;
  text-shadow: 1px 1px 1px #000000;
}

.main-view {
  display: flex;
  flex-direction: column;
}

.page-view {
  margin: 100px 150px;
}

a {
  color: #ffffff;
  text-decoration: none;
}