.site-nav {
    position: fixed;
    z-index: 10;
}

.nav-bar-color-1 {
    background-color: #368dbe;
    box-shadow: 0px 20px 30px #000000;
}

.nav-bar-color-2 {
    background-color: #686868;
    box-shadow: 0px 3px 20px #000000;
}

.nav-bar-1 {
    position: absolute;
    width: 100vw;
    height: 75px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-2 {
    z-index: 9;
    width: 100vw;
    height: 75px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.nav-bar-content {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section-2 {
    margin-left: 42px;
}

.logo-section img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000000;
}

.logo-section h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    margin-right: 30px;
    text-shadow: 2px 2px 2px #000000;
}

.nav-area {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.nav-area-2 {
    margin-left: 105px;
}

.mobile-nav-button {
    display: none;
}

.auth-box h2 {
    font-size: 25px;
    font-weight: bold;
}

.auth-box {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-box-mobile {
    display: none;
}

.mobile-login-box {
    display: none;
}

.auth-input {
    width: 65%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0 px */
}

.email-input, .pass-input {
    display: flex;
    font-size: 14px;
    width: 85%;
    justify-content: space-between;
    text-shadow: 1px 1px 1px #000000;
}

.email-input p, .pass-input p {
    margin-top: 8px;
}

.auth-btn {
    font-family: 'Kaushan Script', cursive;
}

.auth-btn-2 {
    font-family: 'Kaushan Script', cursive;
    background-color: #b3b3b3;
    transition: .25s;
}

.auth-btn-2:hover {
    background-color: #8d8d8d;
}

.auth-btn-2:active {
    background-color: #575757;
}

.logout-section {
    margin-left: 20%;
}

.side-profile {
    position: absolute;
    z-index: 10;
    width: 125px;
    height: 100vh;
    background-color: #3a88b6;
    background: linear-gradient(0deg, rgba(23,69,96,1) 0%, rgba(54,141,190,1) 100%);
    box-shadow: 20px 30px 30px #000000;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}

.character-small-profile {
    display: flex;
    margin-top: 20px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.character-small-profile img {
    border-radius: 30%;
    box-shadow:  0 0 20px #000000;
}

.character-small-profile h3 {
    font-size: 22px;
    font-weight: 600;
}

.new-content {
    height: 30%;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-content ion-icon {
    width: 100px;
    height: 100px;
}

.character-small-profile a:hover {
    text-decoration: underline;
}

.new-content a {
    transition: .1s;
}
  
.new-content a:hover {
    border-bottom: 2px solid #ffffff;
}
  
.new-content a:active {
    color: #8ca8b8;
    border-color: #8ca8b8;
}

.version {
    position: absolute;
    bottom: 80px;
    color: #7ba8cc;
    font-size: 12px;
}
  
.nav-btn {
    border: none;
    background: none;
    box-shadow: none;
    transition: .5s;
    text-shadow: none;
}

.nav-btn:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1600px) {
    .logo-section {
        width: 30%;
    }
}

@media screen and (max-width: 1500px) {
    .auth-box {
        width: 40%;
    }

    .nav-bar-2 .logo-section {
        width: 40%;
    }
}

@media screen and (max-width: 1305px) {
    .logo-section {
        width: 35%;
    }

    .auth-box {
        width: 50%;
        justify-content: space-evenly;
    }

    .auth-input {
        width: 60%;
    }

    .logo-section-2 {
        width: 47%;
    }

    .logo-section-2 h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1120px) {
    .logo-section {
        width: 40%;
    }

    .auth-box {
        width: 60%;
    }

    .logo-section-2 {
        width: 50%;
    }
}

@media screen and (max-width: 980px) {
    .logo-section {
        width: 45%;
    }

    .auth-box {
        width: 55%;
    }

    .auth-input {
        width: 65%;
    }

    .logo-section-2 img {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .nav-bar-content {
        width: 100%;
        justify-content: space-around;
    }

    .logo-section {
        width: 40%;
    }

    .logo-section h1 {
        font-size: 30px;
    }

    .auth-box {
        width: 55%;
        justify-content: space-between;
    }

    .nav-bar-2 .nav-bar-content {
        width: 90%;
        justify-content: space-between;
    }

    .nav-area-2 {
        display: none;
    }

    .mobile-nav-button {
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .25s;
    }

    .mobile-nav-button:hover {
        font-size: 20px;
        color: #ffffff;
        background-color: #1e839c;
        border: none;
        border-radius: 3px;
    }

    .mobile-nav-button:active {
        background-color: #135566;
    }

    .mobile-nav-button .nav-btn {
        transition: .25s;
    }

    .mobile-nav-button .nav-btn:hover {
        text-decoration: none;
    }

    .side-profile {
        display: none;
    }

    .logout-section {
        display: none;
    }

    .mobile-menu-graphic div {
        width: 20px;
        height: 2px;
        margin-top: 3px;
        background-color: #ffffff;
    }

    .mobile-nav-menu {
        display: none;
        right: 0;
        width: 175px;
        height: 0px;
        padding: 10px;
        background-color: #368dbe;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 30px #000000;
        transition: .25s;
    }

    .mobile-nav-menu-2 {
        position: fixed;
        right: 0;
        width: 175px;
        height: auto;
        padding: 10px;
        background-color: #368dbe;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 20px 30px #000000;
        transition: .25s;
    }

    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .mobile-nav-list li {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .nav-bar-content {
        width: 100%;
        justify-content: space-around;
    }

    .logo-section {
        width: 35%;
    }

    .logo-section h1 {
        font-size: 25px;
    }

    .auth-box {
        width: 65%;
        justify-content: space-around;
    }

    .nav-bar-2 {
        justify-content: center;
    }

    /* .nav-bar-2 .nav-bar-content {
        width: 80%;
        justify-content: center;
        align-items: center;
    } */

    .logo-section-2 {
        margin-left: 0;
    }

    .nav-area-2 {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .nav-bar-1 {
        display: inline;
    }

    .auth-box {
        display: none;
    }

    .auth-box-mobile {
        display: flex;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-login-box {
        width: 50%;
        height: 100px;
        position: absolute;
        background-color: #368dbe;
        color: #ffffff;
        box-shadow: 0px 20px 30px #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0;
    }

    .auth-input {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
    }
}

@media screen and (max-width: 490px) {
    .logo-section img {
        display: none;
    }

    .auth-box-mobile {
        width: 45%;
    }

    .mobile-login-box {
        height: 150px;
    }

    .email-input {
        flex-direction: column;
        align-items: center;
    }

    .pass-input {
        flex-direction: column;
        align-items: center;
    }
}